html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------- RESET END -----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

.text-center{

    text-align: center;
}

.justify-center{

   justify-content: center;
}

.text-start{

    text-align: start;
    display: flex;
    justify-content: center; /* Center the entire list within its parent */
    padding: 1rem; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
}

.justify-around{

    justify-content: space-around;
 }

 .my-1 {
    margin: 1rem 0;
 }
 .HTML-lang {
    
    justify-content: center; /* Center the content within each .my-lang element */
    align-items: center; /* Vertically align content */
    width: 5%; /* Adjust the width if needed to center properly */
    text-align: center; /* Center the text within each list item */
 
 }

 

 
.d-flex {
    display: flex;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    padding: 1rem;
}

:root{
    --color-primary: #0e0e10;
    --color-secundary: #ed740a;
    --color-terciary: #f7ceab;
    font-family: "Anek+Devanagari", monospace;
    background-color: #fcfcfc;
    overflow-x: hidden;
    font-size: 16px; /* deve ser sempre divísivelpor 8*/

}

a {

    text-decoration: none;
    color: var(--color-terciary);

}

i {

    margin-right: 1rem;
}

li{
    padding: .1rem;
}
header, footer{
    


    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary);
    width: 100%;

}

header .top-section {
    display: flex;
    justify-content: space-between; /* Space between figure and language selector */
    align-items: center;
    width: 100%; /* Full width for the top section */
}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {

    width: 150px;
    height: auto;
    
    
}
figure {
    display: flex;
    
    align-items: center;
    margin-bottom: 0; /* Add space below the figure */
}

figcaption {
    display: flex;
    justify-content: space-between;
    color: var(--color-secundary);
    margin-top: 1rem; /* Adjust space between image and caption */
    font-size: 2rem;
    text-align: center;
}

ul {
    display: flex; /* Make the list items horizontal */
    justify-content: space-between; /* Distribute items evenly across the width */
    width: 100%; /* Make the list fill the entire width of the header */
    padding: 0;
    margin-top: 1rem; /* Margin on top to separate from the top section */
}

.list-items {
    
    flex: 1; /* Make each list item take equal space */
    text-align: center; /* Center the content within each list item */
    margin: 0;
    color: var(--color-terciary);
    font-size: 8px;
    justify-content: space-around;
}

.list-items a {
    color: var(--color-terciary);
    text-decoration: none;
}

.list-items a:hover {
    color: var(--color-secundary);
}

.left, .right {

    padding: 1rem;
    width: 45%;

}

h3 {

    font-size: 1.3rem;
}

h4 {

    font-size: 1.2rem;
    font-weight: 600;
}

h5{

    font-style: italic;
    font-size: 1.15rem;

}

hr {

    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.tech-item {

    background-color: var(--color-terciary);
    padding: 0.2rem;
    margin: 0.3rem;
    margin-top: 0.5rem; /* Adjusted margin-top */
    border-radius: 5px;
    color: #0e0e10;
    display: inline-block;  /* This property allows the margin and padding settings to affect each span element properly without forcing them onto new lines (unless there's insufficient horizontal space). */
    
}

.HTML-lang {

    margin-bottom: 1rem; /* Add space below the language selector */
    text-align: center; 
   
}

