html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------- RESET END -----------------------------------*/

/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.colorMain {
  background: linear-gradient(85deg, #edc50e21 34%, #f7ceab1f 89%);
}


.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.text-start {
  text-align: start;
  display: flex;
  justify-content: center; /* Center the entire list within its parent */
  padding: 1rem; /* Remove default padding */
  list-style-type: none; /* Remove bullet points */
}

.justify-around {
  justify-content: space-around;
}

.my-1 {
  margin: 1rem 0;
  color: var(--color-primary);
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}
.HTML-lang {
  justify-content: center; /* Center the content within each .my-lang element */
  align-items: center; /* Vertically align content */
  width: 5%; /* Adjust the width if needed to center properly */
  text-align: center; /* Center the text within each list item */
}

.d-flex {
  display: flex;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  padding: 1rem;
}

.header-footer {
  width: 81%;
  justify-content: space-between;
}


.resume {
  font-size: 20px;
  background-color: var(--color-terciary);
  font-family: "Oswald", sans-serif;
  color:#3c3c44;
  font-weight: 500;
  font-optical-sizing: auto;
  width: 90%;
  padding: 1rem;
  line-height: 28px;
  text-shadow: 1px 1px 0 var(--color-quarternary);
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-top: 2rem;
}

:root {
  /* --color-primary: #28282bfa; */
  --color-primary: #252525;
  --color-secundary: #ed8f45;
  --color-terciary: #f7ceabad;
  --color-quarternary: fcfcfc;
  font-family: "Josefin+Sans", monospace;
  /* #f7ceabad; */

  overflow-x: hidden;
  font-size: 16px; /* deve ser sempre divísivel por 8*/
}



a {
  text-decoration: none;
  color: var(--color-terciary); 
 
}

i {
  margin-right: 1rem;
  font-size: larger;
 
}
 


.icon-article {
 color: var(--color-terciary); 
  text-shadow: 1px 1px 0 #0e0e10;
  
}
article i {
  padding: 0.3rem;
  font-size: 1.6rem; /* Adjust the size of the icons */
  color: var(--color-primary); /* Change icon color to secondary color */
  margin-right: 0.5rem; /* Add spacing to the right of the icon */
  vertical-align: middle; /* Align icons vertically with text */
  text-shadow: 1px 1px 1px var(--color-secundary); /* Add a subtle shadow to the icons */
}
li {
  padding: 0.3rem;
  
}
header,
footer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 2rem;
  background-color: var(--color-primary);
  
}

header .top-section {
  display: flex;
  justify-content: space-between; /* Space between figure and language selector */
  align-items: center;
  width: 80%;
  margin-bottom: 0.3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-top-header {
  display: grid;
}

.link-top-header a {
  padding: 0.3rem;
}

.link-top-header a:hover {
  color: var(--color-secundary);
}

.link-proj-git {

  color: var(--color-primary);
}

.link-proj-git :hover{

  color:  var(--color-secundary);
}


img {
  width: 150px;
  height: auto;
  margin-right: 1rem;
  border-radius: 14px;
  box-shadow: 1px -1px 1px var(--color-terciary);
  /* box-shadow: 1px -1px #ed740a; */
}

.img-geeks {

  height: auto;
  width: 64px;

}
figure {
  position: relative; 
  display: inline-block;
  margin-bottom: 0; 
}

figcaption {

  box-shadow: inset -3px 4px 13px 0px var(--color-terciary);
  border-radius: 5px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-40%);
  color: var(--color-secundary);
  font-size: 1.rem;
  padding: 0.2rem;
  width: 92%;
  text-align: center;
  box-sizing: border-box;
}
  


ul {
  display: flex; /* Make the list items horizontal */
  justify-content: space-between; /* Distribute items evenly across the width */
  padding: 0;
}

.description-list {
  display: inline;
  text-align: start;
  justify-content: space-evenly;
}


.list-items {
  color: var(--color-terciary);
  text-decoration: none;
  align-items: start;
}

.list-items :hover {
  color: var(--color-secundary)!important;
}

.left,
.right {
  padding: 1rem;
  width: 45%;
}

h3 {
  font-size: 2rem;
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  line-height: 30px;
 
}

h4{
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Josefin Sans";
}


h5 {
  font-style: italic;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 400;
}

hr {
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tech-item {
  background-color: var(--color-terciary);
  padding: 0.2rem;
  margin: 0.3rem;
  margin-top: 0.5rem; /* Adjusted margin-top */
  border-radius: 5px;
  color: #0e0e10;
  display: inline-block; /* This property allows the margin and padding settings to affect each span element properly without forcing them onto new lines (unless there's insufficient horizontal space). */
}

.HTML-lang {
  justify-content: end;
}
.HTML-lang :hover {
  color: #fcfcfc;
}

span {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.my-lang {
  padding: 1rem;
}

article {
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  /* border-bottom: 0.3rem solid #8a8787; */
  box-shadow: 0.1rem 0.1rem 0.1rem #8a8787;
  border-radius: 14px;
  width: 86%; 
}


.sub-section {
 
  margin-top: 2rem;
  width: 90%;
}

.article-header {

  align-items: center;
  justify-content: space-evenly;
}
 
.img-gallery{

  width: -webkit-fill-available;
  height: auto;
}

.img-gallery2{

  width: auto;
  height: 300px;
}

.img-gallery3{

  width: auto;
  height: 150px;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
  

}

.my-4 {

  align-items: center;
  width: 200px;

}




/* ---------------------     @mediaqueries ------------------    */

@media (max-width: 600px) {
  .left,
  .right {
    padding: 1rem;
    width: 100%;
    display: block;
  }
  article {

    border: 0.1rem solid black;
    width: 76%;
  }

  .d-flex {

    flex-direction: column;
   
  }
  .header-footer {

    display: flex;
  }

  ul{
    justify-content: flex-start;
  }

.HTML-lang {
  
  font-size: 24px;
  display: flex;
  flex-direction: row;
  margin-left: 3.5rem;
  margin-top: 1.5rem;
}

.img-geeks {
  margin: 0.5rem;
  width: 44px;
  height: auto;
}



.description-list {

  display: inline;
  text-align: center;
}

.li-professions {

  width: 90%;
}

.resume{
  width: 85%;
}


.sub-section {
  border-bottom: 0.1rem solid var(--color-terciary);
  padding: 0.9rem;
  border-radius: 14px;
  border-top: 0.1rem solid var(--color-terciary);
  /* margin-top: 1rem; */
  width: 86%;
}

i{
  font-size: 34px;

}

img {
  width: 165px;
 
}

figcaption{

  width: 95%;
  left: 37%;
}
}

@media (max-width: 1100px) {
  /* … */
  .img-gallery {

    width: -webkit-fill-available;
    
  }

}
