html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------- RESET END -----------------------------------*/

/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.text-start {
  text-align: start;
  display: flex;
  justify-content: center; /* Center the entire list within its parent */
  padding: 1rem; /* Remove default padding */
  list-style-type: none; /* Remove bullet points */
}

.justify-around {
  justify-content: space-around;
}

.my-1 {
  margin: 1rem 0;
  
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}
.HTML-lang {
  justify-content: center; /* Center the content within each .my-lang element */
  align-items: center; /* Vertically align content */
  width: 5%; /* Adjust the width if needed to center properly */
  text-align: center; /* Center the text within each list item */
}

.d-flex {
  display: flex;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  padding: 1rem;
}
.resume {
  font-size: 20px;
  background-color: var(--color-terciary);
  font-family: "Oswald", sans-serif;
  color:#3c3c44;
  font-weight: 500;
  font-optical-sizing: auto;
 
  line-height: 20px;
  text-shadow: 1px 1px 0 #fcfcfc;
  border-radius: 0 0 14px;
}

:root {
  --color-primary: #28282bfa;
  --color-secundary: #ed760eed;
  --color-terciary: #f7ceabad;
  font-family: "Josefin+Sans", sans-serif;

  overflow-x: hidden;
  font-size: 16px; /* deve ser sempre divísivel por 8*/
}



a {
  text-decoration: none;
  color: var(--color-terciary);
}

i {
  margin-right: 1rem;
  font-size: larger;
  color: var(--color-secundary);
}

li {
  padding: 0.3rem;
}
header,
footer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 2rem;
  background-color: var(--color-primary);
  
}

header .top-section {
  display: flex;
  justify-content: space-between; /* Space between figure and language selector */
  align-items: center;
  width: 80%;
  margin-bottom: 0.3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  height: auto;
  margin-right: 1rem;
  border-radius: 14px;
  box-shadow: 1px -1px #ed740a;
}
figure {
  display: flex;

  align-items: center;
  margin-bottom: 0; /* Add space below the figure */
}

figcaption {
  
  justify-content: space-between;
  color: var(--color-secundary);
  font-size: 2rem;
  text-align: center;
}

ul {
  display: flex; /* Make the list items horizontal */
  justify-content: space-between; /* Distribute items evenly across the width */
  padding: 0;
}

.description-list {
  display: inline;
  text-align: start;
  justify-content: space-evenly;
}


.list-items a {
  color: var(--color-secundary);
  text-decoration: none;
  align-items: start;
}

.list-items a:hover {
  color: var(--color-secundary);
}

.left,
.right {
  padding: 1rem;
  width: 45%;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: .3rem;
  font-family: "Josefin Sans";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



h5 {
  font-style: italic;
  font-size: 1.15rem;
}

hr {
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tech-item {
  background-color: var(--color-terciary);
  padding: 0.2rem;
  margin: 0.3rem;
  margin-top: 0.5rem; /* Adjusted margin-top */
  border-radius: 5px;
  color: #0e0e10;
  display: inline-block; /* This property allows the margin and padding settings to affect each span element properly without forcing them onto new lines (unless there's insufficient horizontal space). */
}

.HTML-lang {
  margin-bottom: 1rem; /* Add space below the language selector */
  text-align: center;
}
.HTML-lang :hover {
  color: #fcfcfc;
}

span {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.my-lang {
  padding: 1rem;
}

article {
  margin-top: 0.3rem;
  padding: 1rem;
  border-bottom: 0.3rem solid #8a8787;
  box-shadow: 0.1rem 0.1rem 0.3rem #8a8787;
  border-radius: 14px;
}

 